:root {
    --bg-dark-green: #077054;
    --text-lime-green: #99FA99;
    --text-silver: #b6d8cf;
    --lightpurple: #D3A3FF;
    --slogan-green: #21A51E;
    --subheader-font: 'Josefin Slab', serif;
    --address-font: 'Raleway', sans-serif;
    --slogan-font: 'Roboto Slab', serif;
}

.pgContainer {
    margin-top: 25px;
}

.classes-text {
    padding: 0 40px;
}

.classes {
    font-family: var(--slogan-font);
    color: var(--bg-dark-green);
    font-size: 35px;
}

.classes-headers {
    font-family: var(--subheader-font);
    font-size: 26px;
}

.classes-paragraphs {
    line-height: 28px;
    font-size: 14px;
    font-family: var(--address-font);
    font-weight: 500;
}

.yogaLady {
    width: 270px;
    height: 690px;
    margin-top: 100px;
    margin-right: 80px;
}
