
.defaultPage {
    display: flex;
    flex-direction: row;
    height: 100%;
    background: white;
    width: 970px;
    height: 920px;
    margin:auto;
}

.bigYoga {
    font-family: 'Josefin Slab', serif;
    color: #21A51E;
    font-size: 100px;
    text-transform: uppercase;
    margin-top:45px;
}

.purpleDiv {
    height: 10px;
    width: 145px;
    background: #D3A3FF;
    margin: auto;
    margin-top: 43px;
}

.landingPgContainer {
    
    height: 530px;
    margin-top: -10px;
    margin-top:100px;
}

.slogan-container {
   
    font-family: 'Roboto Slab', serif;
    text-align:center;
    padding-left:12px;
}
    .slogan-container p {
        color: #21A51E;
        font-size: 105px;
        line-height:95px;
        margin-top:45px;
    }


.yogaLady {
    width: 270px;
    height:690px;
    margin-top:100px;
    margin-right:80px;
    
}

