:root {
    --bg-dark-green: #077054;
    --text-lime-green: #99FA99;
    --text-silver: #b6d8cf;
    --lightpurple: #D3A3FF;
    --slogan-green: #21A51E;
    --subheader-font: 'Josefin Slab', serif;
    --address-font: 'Raleway', sans-serif;
    --slogan-font: 'Roboto Slab', serif;
}



.bigYoga {
    font-family: var(--subheader-font);
    font-size: 100px;
    text-transform: uppercase;
    margin-top: 45px;
}

.purpleDiv {
    height: 10px;
    width: 145px;
    background: #D3A3FF;
    margin: auto;
    margin-top: 43px;
}

.pgContainer {
    
    height: 530px;
    margin-top: -10px;
    margin-top:100px;
}

.slogan-container {
    font-family: var(--slogan-font);
    text-align:center;
    padding-left:12px;
    color:var(--slogan-green);
}
    .slogan-container p {
        color: var(--slogan-green);
        font-size: 105px;
        line-height:95px;
        margin-top:45px;
    }


.yogaLady {
    width: 270px;
    height:690px;
    margin-top:100px;
    margin-right:80px;
    
}

