body {
    background-color: #077054;
    font-family: 'Lato', sans-serif;
}


/*====Master Nav===*/
form {
    width:100%;
}

.nav-container {
  height:115px;
}
.header-container {
    /*border: solid 1px red;*/
    text-align: center;
    padding-bottom: 30px;
}

    .header-container a {
        color:#99fa99
    }

        .header-container a p {
            font-family: 'Josefin Slab', serif;
            color:#b6d8cf; 
            font-size:18px; 
            text-transform:uppercase;
        }

/*===master nav end===*/



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
