:root {
    --bg-dark-green: #077054;
    --text-lime-green: #99FA99;
    --text-silver: #b6d8cf;
    --rounded-font: 'Lato', sans-serif;
    --subheader-font: 'Josefin Slab', serif;
    --address-font: 'Raleway', sans-serif
}

body {
    background-color: var(--bg-dark-green);
    font-family: var(--rounded-font) ;
}

.defaultPage {
    display: flex;
    flex-direction: row;
    height: 100%;
    background: white;
    width: 970px;
    height: 920px;
    margin: auto;
}

.pgContainer {
    height: 530px;
    margin-top: -10px;
    margin-top: 100px;
}

/*====Master Nav===*/
form {
    width:100%;
}

.nav-container {
  height:115px;
}

.b_and_c_header{
    font-size:52.5px;
    font-stretch:wider;

}
.header-container {
    /*border: solid 1px red;*/
    text-align: center;
    padding-bottom: 30px;
    margin-top:10px;
    margin-bottom:20px;
}

    .header-container a {
        color: var(--text-lime-green)
    }
    .header-container a:hover {
        text-decoration: none;
    }

        .header-container a p {
            font-family: var(--subheader-font);
            color: var(--text-silver);
            font-size: 26.5px;
            text-transform: uppercase;
            font-stretch: wider;
        }

.navmenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 960px;
    height: 23px;
    text-decoration: none;
    list-style-type: none;
    font-family: var(--address-font);
    font-size: 22px;
    font-weight: 300;
    padding-top: 5px;
    margin-bottom: 15px;
    margin-top: 20px;
    color: var(--text-silver);
}
    .navmenu li a, a:hover a:focus, a:active {
        color: var(--text-silver);
        text-decoration: none;
    }

        .navmenu li a:hover {
            color: #D3A3FF;
            text-decoration: none;
        }


.instructor {
    position: relative;
    left: -62px;
    width: 100px;
    padding-left: 6px;
    list-style-type: none;
    position: relative;
    width: 0px;
    color: var(--text-silver);
    padding-left: 44px;
}
    .instructor li {
        background: var(--bg-dark-green);
        width: 115px;
        text-align: center;
    }
        .instructor li:hover {
            color: #D3A3FF;
        }
footer {
    font-family: var(--address-font);
    background: var(--bg-dark-green);
    padding: 10px 0 80px;
    margin: auto;
    width: 970px;
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.address {
    color: var(--text-lime-green);
    font-size: 26px;
    font-weight: 400;
}

.copywrite {
    color: var(--text-silver);
    font-size: 12px;
    font-weight: 400;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 220px;
}

    .socials a {
        color: var(--text-lime-green);
    }

i{
    font-size:30px;
}


/*===master nav end===*/
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  
}
